In [1]:
import seaborn as sns
iris = sns.load_dataset('iris')

In [2]:
from summarytools import dfSummary
dfSummary(iris)

In [5]:
sns.load_dataset('flights')
flights = sns.load_dataset('flights')
dfSummary(flights)

In [7]:
sns.load_dataset('penguins')
penguins = sns.load_dataset('penguins')
dfSummary(penguins, is_collapsible = True)