In [1]:
import seaborn as sns
iris = sns.load_dataset('iris')

In [2]:
from summarytools import dfSummary
dfSummary(iris)